.home {
    width: 100%;
    min-height: 100%;

    .navbar {
        max-height: 43px !important;
        min-height: 43px !important;
        border-radius: 0;
        background-color: #0078d7;
        border-style: none;
        margin-left: 150px;
        position: fixed;
        top: 0;
        padding-right: 10px;
        z-index: 999;
        margin-bottom: 0 !important;

        .header-time {
            color: #FFFFFF;
            font-size: 20px;
            text-align: right;
            margin-top: 5px;
            margin-right: 5px;
            float: right;
            display: flex;

            i {
                margin-left: 5px;
                margin-top: 3px;
            }
        }

        .content-title {
            text-align: center;
            color: #FFFFFF;
            font-size: 20px;
            margin-top: 5px;
            float: left;
            margin-left: 10px;
        }

        
    }

    .content-container {
        margin-left: 150px;
        margin-right: 305px;
        z-index: 0;

        .alert {
            margin: 0px;
            height: 30px;
            padding: 5px;
            text-align: center;
        }
    }

    #content {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 55px;
        max-height: 100%;
        min-width: 400px;
        overflow: auto;
    }

    .sidepanel {
        height: 100%;
        float: left;
        top: 0;
        left: 0;
        background-color: $sidepanel-background-color;
        position: fixed;
        min-width: 150px;
        max-width: 150px;

        .userinformation {
            position: relative;
            text-align: center;
            background-color: $sidebar-title-background;
            padding: 10px;
        }

        .username {
            position: relative;
            text-align: center;
            font-size: 16px;
            color: $sidebar-title-color;
        }

        hr {
            margin: 1px;
        }

        ul {
            list-style: none;
            padding-left: 0;

            .panel-button {
                margin: 10px 0 0 0;
                text-align: left;
                font-size: 12px;
                width: 100%;
                border: none;
                color: $button-color;
                background-color: $button-background-color;
                padding: 10px 10px 10px 10px;

                .glyphicon {
                    margin-left: 1px;
                    margin-right: 10px;
                }

                &:hover {
                    background-color: $button-hover-background-color;
                    color: $button-hover-color;
                }

                &.logout-button {
                    bottom: 0;
                    position: absolute;
                    text-align: center;
                    margin-bottom: 0;
                    padding: 15px 0 10px 0 !important;

                    &:hover {
                        background-color: $logout-button-hover-background-color;
                        color: $button-color;
                    }
                }
            }
        }
    }

    .show-chat {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 10px 5px 0;
        padding: 5px;
    }
}
