.home {
    width: 100%;
    min-height: 100%;

    .navbar {
        max-height: 55px !important;
        min-height: 55px !important;
        min-width: 400px;
        border-radius: 0;
        background-color: #d700a2;
        border-style: none;
        position: fixed;
        top: 0;
        padding-right: 10px;
        z-index: 999;
        margin-bottom: 0 !important;
        padding-right: 0 !important;
        width: 100% !important;
        float: none !important;

        .container-fluid {
            padding-left: 5px;
            padding-right: 5px;
        }

        .navbar-nav {
            float: none !important;
            margin: 5px 0 0 0 !important;
            text-align: center;
            min-width: 550px;
        }

        ul {
            margin-top: 7px;
            width: 100%;
            font-size: 24px;

            .header-list {
                display: inline-block;
                padding: 5px;
                color: #FFFFFF;
                background-color: #d700a2;
                border-style: solid;
                border-width: 1px;
                border-color: #FFFFFF;
            }

            .list-header-username {
                min-width: 150px;
                max-width: 150px;
                margin-right: 5px;
                text-align: center;
                background-color: #d700a2;
                float: left;
                border-style: solid;
                border-width: 1px;
                border-color: #FFFFFF;
                cursor: pointer;
            }

            .list-header-title {
                position: absolute;
                left: 46%;
                height: 46px;
                padding: 2px 50px 1px 50px;
                font-size: 30px;
                cursor: default;
            }

            .list-header-activity {
                background-color: #d700a2;
                border-style: solid;
                border-width: 1px;
                border-color: #FFFFFF;
                float: right !important;
                padding: 4px !important;

                button {
                    background-color: transparent;
                    border-style: none;
                }
            }

            .list-header-time {
                float: right;
                padding-right: 10px !important;
                border-right-style: none;
                cursor: default;
            }

            p {
                margin: 0 !important;
            }

            .dropdown-menu {
                width: 350px;
                background-color: #e7e7e7;
                color: #000000;

                .dropdown-menu-item {
                    padding: 10px;
                    background-color: #ffffff;
                    color: #d700a2;
                    font-size: 16px;
                    cursor: default;
                    border-bottom-style: solid;
                    border-width: 1px;
                    width: 100%;

                    &:hover {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    .content-container {
        margin-left: 150px;
        margin-right: 305px;
        z-index: 0;

        .alert {
            margin: 0px;
            height: 30px;
            padding: 5px;
            text-align: center;
        }
    }

    #content {
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 65px;
        max-height: 100%;
        min-width: 400px;
        overflow: hidden;
    }

    .sidepanel {
        height: 100%;
        float: left;
        top: 55px;
        left: 0;
        background-color: $sidepanel-background-color;
        position: fixed;
        min-width: 160px;
        max-width: 160px;
        border-top-style: solid;
        border-top-color: #FFFFFF;
        border-top-width: 1px;

        .userinformation {
            position: relative;
            text-align: center;
            background-color: $sidebar-title-background;
            padding: 10px;
            font-size: 24px;
        }

        .username {
            background-color: $sidepanel-background-color;
            color: #FFFFFF;
            border-style: solid;
            border-width: 1px;
            border-color: #FFFFFF;
            margin: 0 !important;
            width: 100%;
            cursor: pointer !important;

            .hvr-shutter-out-horizontal {
                &:hover {
                    background-color: #FFFFFF;
                    color: $sidepanel-background-color;
                    border-style: solid;
                    border-width: 1px;
                    border-color: $sidepanel-background-color;
                }
            }
        }

        hr {
            margin: 1px;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0 !important;

            .panel-button {
                margin: 0;
                font-size: 14px;
                width: 100%;
                border: none;
                color: $button-color;
                background-color: $button-background-color;
                padding: 20px 10px 20px 10px;
                display: inline;

                .glyphicon {
                    font-size: 24px;
                }

                &.logout-button {
                    bottom: 0;
                    position: fixed;
                    width: 160px;
                    text-align: center;
                    margin-bottom: 0;
                    padding: 15px 0 10px 0 !important;

                    &:hover {
                        background-color: $logout-button-hover-background-color;
                        color: $button-color;
                    }
                }
            }
        }
    }

    .show-chat {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 10px 5px 0;
        padding: 5px;
    }
}
