.calendar-container {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;

    text-align: center;

    .fc-event {
        background-color: #464646;
        text-align: center;
        padding: 15px !important;
    }
}