// Main success buttons
$button-background-color: #0078d7;
$button-color: #FFFFFF;

// Hover main success buttons
$button-hover-background-color: #FFFFFF;
$button-hover-color: #0078d7;

// General form styling
$form-background-color: #fbfbfb;

//General panel styling
$panel-background-color: #585656;
$panel-heading-color: #FFFFFF;

// Side panel styling
$sidepanel-background-color: #0078d7;

// General modal styling
$modal-header-background-color: #0078d7;
$modal-header-color: #FFFFFF;

// Logout button
$logout-button-border-color: #FFFFFF;
$logout-button-hover-background-color: #ff0000;

//Username colours
$sidebar-title-color: #000000;
$sidebar-title-background: #FFFFFF;

// Card variables
$card-header-background-color: #FFFFFF;
$card-body-color: #626262;

// Announcement importance colours:
$low: lightgreen;
$low-medium: green;
$medium: yellow;
$medium-high: orange;
$high: red;

// Chat panel background colour
$chat-background-color: #3a5068;

// Task state colours:
$open: #9bbeff;
$active: #044bad;
$closed: #585656;

// Task colors
$task-border-color: #626262;
$task-background-color: #FFFFFF;
$task-background-hover-color: #0078d7;
$task-hover-color: #FFFFFF;

// Task div heading background colour
$task-section-heading-color: #0078d7;