.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
  width: 500px; }

.login-panel .panel-heading {
  font-weight: normal;
  font-size: 40px; }

.login-panel .login-form {
  position: relative;
  height: auto;
  padding-bottom: 10px; }
  .login-panel .login-form .input-group {
    margin-left: 1%;
    margin-right: 1%; }
  .login-panel .login-form .login-label {
    color: #000000;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 1%;
    font-weight: normal; }
  .login-panel .login-form .form-button {
    font-size: 24px; }

.announcements h1 {
  text-align: center; }

.announcements .announcement-cards {
  margin-top: 5px;
  overflow: visible;
  overflow-wrap: break-word; }
  .announcements .announcement-cards .card-block {
    border-radius: 10px;
    margin: 0 0 10px 0; }
    .announcements .announcement-cards .card-block .list-group {
      margin-bottom: 0 !important; }
      .announcements .announcement-cards .card-block .list-group .list-group-item {
        background-color: #ffffff;
        color: #3a5068; }
        .announcements .announcement-cards .card-block .list-group .list-group-item .card-title {
          background-color: #FFFFFF;
          border-radius: 5px;
          padding: 10px;
          margin-top: 1px !important; }
        .announcements .announcement-cards .card-block .list-group .list-group-item .edit-announcement, .announcements .announcement-cards .card-block .list-group .list-group-item .delete-announcement {
          margin-left: 5px;
          font-size: 16px; }
        .announcements .announcement-cards .card-block .list-group .list-group-item .importance-icon {
          font-size: 30px;
          float: right; }
          .announcements .announcement-cards .card-block .list-group .list-group-item .importance-icon.importance-1 {
            color: lightgreen; }
          .announcements .announcement-cards .card-block .list-group .list-group-item .importance-icon.importance-2 {
            color: green; }
          .announcements .announcement-cards .card-block .list-group .list-group-item .importance-icon.importance-3 {
            color: yellow; }
          .announcements .announcement-cards .card-block .list-group .list-group-item .importance-icon.importance-4 {
            color: orange; }
          .announcements .announcement-cards .card-block .list-group .list-group-item .importance-icon.importance-5 {
            color: red; }

.announcements .add-button {
  text-align: center; }
  .announcements .add-button .content-button {
    margin-bottom: 5px !important;
    padding: 5px;
    position: center; }

.announcement-form textarea {
  max-width: 100%; }

.account-container {
  background-color: aqua !important; }

.signup-form .form-button {
  font-size: 20px; }

.signup-form .form-control {
  margin-bottom: 10px; }

.chat-container {
  z-index: 3;
  height: 100%;
  float: right;
  top: 13px;
  right: 0;
  position: fixed;
  margin-right: 5px;
  background-color: #FFFFFF;
  margin-top: 47px; }
  .chat-container ::-webkit-scrollbar {
    width: 13px;
    height: 13px; }
  .chat-container .panel {
    background-color: transparent;
    border: none;
    min-width: 300px;
    max-width: 300px;
    min-height: 100%;
    max-height: 100%; }
    .chat-container .panel .panel-heading {
      background-color: #d700a2;
      color: #FFFFFF;
      font-size: 20px;
      text-align: center;
      border: none;
      margin-bottom: 5px; }
      .chat-container .panel .panel-heading:hover {
        cursor: pointer; }
    .chat-container .panel .panel-body {
      padding: 0; }
    .chat-container .panel .messages-container {
      position: absolute;
      height: 85vh;
      overflow: auto;
      border-radius: 0;
      width: 100%;
      background-color: transparent;
      border-bottom: #d700a2; }
      .chat-container .panel .messages-container ul {
        list-style: none;
        padding-left: 0 !important;
        color: #000000; }
        .chat-container .panel .messages-container ul li {
          margin: 0 0 0 5px; }
    .chat-container .panel .messageusername {
      color: #000000;
      font-weight: bold;
      font-size: 16px; }
  .chat-container .inputs-container {
    z-index: 2;
    position: absolute;
    bottom: 5px;
    padding: 5px;
    margin-bottom: 55px;
    width: 100%;
    background-color: transparent;
    border-top: solid;
    border-color: #d700a2;
    border-width: 1px; }
    .chat-container .inputs-container #message {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      border-style: solid;
      padding: 10px !important;
      border-width: 1px; }
      .chat-container .inputs-container #message:focus {
        outline: none; }

.graph-container {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px; }
  .graph-container .content-button {
    margin: 0 5px 0 5px; }
  .graph-container .graph-title {
    margin-top: 5px;
    text-align: center; }
  .graph-container .graph-subcontainer {
    text-align: -webkit-center; }
  .graph-container #id {
    max-height: 1000px; }
  .graph-container .graph-selections {
    margin-bottom: 10px;
    text-align: -webkit-center; }
    .graph-container .graph-selections .graphButton {
      margin-bottom: 5px;
      border-style: solid;
      border-width: 1px; }
      .graph-container .graph-selections .graphButton:hover {
        border-style: solid;
        border-width: 1px; }

.calendar-container {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  text-align: center; }
  .calendar-container .fc-event {
    background-color: #464646;
    text-align: center;
    padding: 15px !important; }

.files {
  z-index: -1; }
  .files .panel-body {
    background-color: #454545 !important;
    color: #FFFFFF; }
    .files .panel-body .upload-title {
      margin-top: 0 !important;
      text-align: center; }
    .files .panel-body .btn {
      background-color: #d700a2 !important;
      border: none !important;
      color: #FFFFFF !important; }
    .files .panel-body .glyphicon {
      color: #FFFFFF !important; }
    .files .panel-body .file-footer-caption {
      color: #FFFFFF !important; }
    .files .panel-body .list-group {
      color: #454545; }
      .files .panel-body .list-group .list-group-item {
        width: 100%;
        border: none !important;
        font-size: 16px; }
        .files .panel-body .list-group .list-group-item:hover {
          cursor: pointer; }
      .files .panel-body .list-group .file-info-header {
        font-weight: 600; }
      .files .panel-body .list-group .file-info-header-id {
        margin-right: 5%; }
      .files .panel-body .list-group .file-info-header-username {
        float: right; }

.home {
  width: 100%;
  min-height: 100%; }
  .home .navbar {
    max-height: 55px !important;
    min-height: 55px !important;
    min-width: 400px;
    border-radius: 0;
    background-color: #d700a2;
    border-style: none;
    position: fixed;
    top: 0;
    padding-right: 10px;
    z-index: 999;
    margin-bottom: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    float: none !important; }
    .home .navbar .container-fluid {
      padding-left: 5px;
      padding-right: 5px; }
    .home .navbar .navbar-nav {
      float: none !important;
      margin: 5px 0 0 0 !important;
      text-align: center;
      min-width: 550px; }
    .home .navbar ul {
      margin-top: 7px;
      width: 100%;
      font-size: 24px; }
      .home .navbar ul .header-list {
        display: inline-block;
        padding: 5px;
        color: #FFFFFF;
        background-color: #d700a2;
        border-style: solid;
        border-width: 1px;
        border-color: #FFFFFF; }
      .home .navbar ul .list-header-username {
        min-width: 150px;
        max-width: 150px;
        margin-right: 5px;
        text-align: center;
        background-color: #d700a2;
        float: left;
        border-style: solid;
        border-width: 1px;
        border-color: #FFFFFF;
        cursor: pointer; }
      .home .navbar ul .list-header-title {
        position: absolute;
        left: 46%;
        height: 46px;
        padding: 2px 50px 1px 50px;
        font-size: 30px;
        cursor: default; }
      .home .navbar ul .list-header-activity {
        background-color: #d700a2;
        border-style: solid;
        border-width: 1px;
        border-color: #FFFFFF;
        float: right !important;
        padding: 4px !important; }
        .home .navbar ul .list-header-activity button {
          background-color: transparent;
          border-style: none; }
      .home .navbar ul .list-header-time {
        float: right;
        padding-right: 10px !important;
        border-right-style: none;
        cursor: default; }
      .home .navbar ul p {
        margin: 0 !important; }
      .home .navbar ul .dropdown-menu {
        width: 350px;
        background-color: #e7e7e7;
        color: #000000; }
        .home .navbar ul .dropdown-menu .dropdown-menu-item {
          padding: 10px;
          background-color: #ffffff;
          color: #d700a2;
          font-size: 16px;
          cursor: default;
          border-bottom-style: solid;
          border-width: 1px;
          width: 100%; }
          .home .navbar ul .dropdown-menu .dropdown-menu-item:hover {
            color: #FFFFFF; }
  .home .content-container {
    margin-left: 150px;
    margin-right: 305px;
    z-index: 0; }
    .home .content-container .alert {
      margin: 0px;
      height: 30px;
      padding: 5px;
      text-align: center; }
  .home #content {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 65px;
    max-height: 100%;
    min-width: 400px;
    overflow: hidden; }
  .home .sidepanel {
    height: 100%;
    float: left;
    top: 55px;
    left: 0;
    background-color: #d700a2;
    position: fixed;
    min-width: 160px;
    max-width: 160px;
    border-top-style: solid;
    border-top-color: #FFFFFF;
    border-top-width: 1px; }
    .home .sidepanel .userinformation {
      position: relative;
      text-align: center;
      background-color: #FFFFFF;
      padding: 10px;
      font-size: 24px; }
    .home .sidepanel .username {
      background-color: #d700a2;
      color: #FFFFFF;
      border-style: solid;
      border-width: 1px;
      border-color: #FFFFFF;
      margin: 0 !important;
      width: 100%;
      cursor: pointer !important; }
      .home .sidepanel .username .hvr-shutter-out-horizontal:hover {
        background-color: #FFFFFF;
        color: #d700a2;
        border-style: solid;
        border-width: 1px;
        border-color: #d700a2; }
    .home .sidepanel hr {
      margin: 1px; }
    .home .sidepanel ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0 !important; }
      .home .sidepanel ul .panel-button {
        margin: 0;
        font-size: 14px;
        width: 100%;
        border: none;
        color: #FFFFFF;
        background-color: #d700a2;
        padding: 20px 10px 20px 10px;
        display: inline; }
        .home .sidepanel ul .panel-button .glyphicon {
          font-size: 24px; }
        .home .sidepanel ul .panel-button.logout-button {
          bottom: 0;
          position: fixed;
          width: 160px;
          text-align: center;
          margin-bottom: 0;
          padding: 15px 0 10px 0 !important; }
          .home .sidepanel ul .panel-button.logout-button:hover {
            background-color: #ff0000;
            color: #FFFFFF; }
  .home .show-chat {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 10px 5px 0;
    padding: 5px; }

.tasks-container {
  text-align: center;
  margin-top: 5px;
  min-width: 800px; }
  .tasks-container .content-button:hover {
    color: #464646 !important; }
  .tasks-container .main-title {
    margin: 0 0 5px 0;
    background-color: #0078d7;
    color: #FFFFFF; }
  .tasks-container .task-heading {
    text-align: center; }
    .tasks-container .task-heading.task-section {
      background-color: #FFFFFF;
      color: #464646;
      margin: 0 0 10px 0 !important;
      padding: 5px;
      border-bottom-style: solid;
      border-width: 1px; }
    .tasks-container .task-heading.task-item {
      padding: 5px;
      background-color: lightgray;
      margin-top: 0; }
  .tasks-container .add-task {
    width: 90%;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    color: #464646;
    border-color: lightslategrey; }
    .tasks-container .add-task:hover {
      border-style: inset;
      background-color: #f2f2f2; }
  .tasks-container p {
    margin: 0;
    padding: 5px; }
  .tasks-container .open-container {
    background-color: #FFFFFF;
    float: left;
    width: 33%;
    padding-bottom: 10px; }
  .tasks-container .active-container {
    background-color: #FFFFFF;
    display: inline-block;
    width: 33%;
    padding-bottom: 10px; }
  .tasks-container .closed-container {
    background-color: #FFFFFF;
    float: right;
    width: 33%;
    padding-bottom: 10px; }
  .tasks-container .task-body {
    overflow: hidden;
    max-height: 100px;
    margin: 5px; }
  .tasks-container .open, .tasks-container .active, .tasks-container .closed {
    margin: 0 auto 5px auto;
    border-style: hidden;
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: #F0F0F0; }
    .tasks-container .open:hover, .tasks-container .active:hover, .tasks-container .closed:hover {
      background-color: lightgray;
      cursor: grab; }
      .tasks-container .open:hover .task-item, .tasks-container .active:hover .task-item, .tasks-container .closed:hover .task-item {
        background-color: #F0F0F0; }
  .tasks-container .task-edit-form {
    text-align: left; }
    .tasks-container .task-edit-form .row {
      margin-top: 5px; }
    .tasks-container .task-edit-form .task-edit-label:not(:first-child) {
      padding: 0;
      margin: 10px 0 0 0 !important; }
  .tasks-container .task-add-form {
    text-align: left; }
    .tasks-container .task-add-form .row {
      margin-top: 5px; }
    .tasks-container .task-add-form .task-add-label:not(:first-child) {
      padding: 0;
      margin: 10px 0 0 0 !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset; }

.modal .modal-header {
  background-color: #464646;
  color: #FFFFFF; }
  .modal .modal-header:hover {
    cursor: pointer; }
  .modal .modal-header .modal-title {
    position: absolute; }

.modal .modal-body textarea {
  max-width: 100%; }

.login-panel {
  max-width: 75%;
  margin-top: 1%;
  background-color: #585656; }
  .login-panel .panel-heading {
    background-color: #d700a2 !important;
    color: #FFFFFF; }

.form {
  max-width: 100%;
  background-color: #fbfbfb;
  outline: 0; }
  .form .form-button {
    margin-top: 2%;
    width: 95%;
    background-color: #464646;
    color: #FFFFFF;
    border-color: transparent;
    border-radius: 5px;
    border-width: 1px; }
    .form .form-button:hover {
      background-color: #ffffff;
      color: #464646;
      border-style: solid;
      border-color: #464646; }
  .form label {
    margin-bottom: 0; }

.content-button {
  background-color: #464646;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  outline: 0;
  padding: 5px; }
  .content-button:hover {
    background-color: #FFFFFF;
    color: #464646; }

.standard-button {
  background-color: #d700a2;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  outline: 0; }
  .standard-button:hover {
    background-color: #FFFFFF;
    color: #0078d7; }

.filter-container .filter-form {
  max-height: 200px;
  background-color: #ffffff !important;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #464646;
  min-width: 800px;
  z-index: 0; }
  .filter-container .filter-form .row {
    max-height: 100px;
    margin: 0; }
  .filter-container .filter-form .form-group {
    max-height: 54px;
    margin: 0 !important;
    color: #ffffff;
    z-index: 0; }
    .filter-container .filter-form .form-group .form-control {
      cursor: pointer; }
    .filter-container .filter-form .form-group .text-box {
      cursor: default !important; }
  .filter-container .filter-form .filter-form-label {
    color: #3a5068; }
  .filter-container .filter-form .standard-button {
    margin-bottom: 5px;
    background-color: #FFFFFF;
    color: #464646; }
    .filter-container .filter-form .standard-button:hover {
      color: #4CAF50; }

/* Login */
body {
  background-color: #e7e7e7;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100%; }
  body::-webkit-scrollbar {
    width: 0; }
  body .alert {
    margin-left: 165px !important;
    font-size: 20px;
    padding: 10px;
    z-index: 1041 !important; }

