@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8">
    <meta name="description" content="Fleqx">
    <script type="text/javascript" src="~/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/chart.js/dist/chart.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/timeago/jquery.timeago.js"></script>
    <script type="text/javascript" src="~/wwwroot/lib/bootstrap-fileinput/js/fileinput.min.js"></script>
    @RenderSection("Scripts", false)
    <link rel="stylesheet" href="~/wwwroot/lib/fullcalendar/dist/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/wwwroot/lib/animate-css/animate.min.css" />
    <link rel="stylesheet" href="~/wwwroot/lib/hover/css/hover-min.css" />
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap-fileinput/css/fileinput.min.css" />
    <link rel="stylesheet" href="~/Styles/main.css">
    <title></title>
</head>
<body>
@RenderBody()
@if (ViewBag.Error != null)
{
    <script>
        $(document).ready(function() {
            alert('@ViewBag.Error');
        });
    </script>

    ViewBag.Error = null;
}
</body>
</html>