.announcement-filter {
    z-index: 1;
    top: 5px;
    left: 160px;
    width: calc(100% - 475px);
    position: fixed;
    background-color: #ffffff !important;
    text-align: center;
    border-style: ridge;
    .row {
        margin: 0;
        border-style: ridge;
    }

    .form-group {
        margin-bottom: 5px !important;
        color: #ffffff;

        .form-control {
            cursor: pointer;
        }
    }

    .filter-form-label {
        color: #3a5068;
    }

    .standard-button {
        margin-bottom: 5px;
        background-color: #FFFFFF;
        color: #0078d7;

        &:hover {
            color: #4CAF50;
        }
    }
}