.announcements {
    h1 {
        text-align: center;
    }

    .announcement-cards {
        margin-top: 5px;
        overflow: visible;
        overflow-wrap: break-word;

        .card-block {
            border-radius: 10px;
            margin: 0 0 10px 0;

            .list-group {
                margin-bottom: 0 !important;

                .list-group-item {
                    background-color: #ffffff;
                    color: #3a5068;

                    .card-title {
                        background-color: $card-header-background-color;
                        border-radius: 5px;
                        padding: 10px;
                        margin-top: 1px !important;
                    }

                    .edit-announcement, .delete-announcement {
                        margin-left: 5px;
                        font-size: 16px;
                    }

                    .importance-icon {
                        font-size: 30px;
                        float: right;

                        &.importance-1 {
                            color: $low;
                        }

                        &.importance-2 {
                            color: $low-medium;
                        }

                        &.importance-3 {
                            color: $medium;
                        }

                        &.importance-4 {
                            color: $medium-high;
                        }

                        &.importance-5 {
                            color: $high;
                        }
                    }
                }
            }
        }
    }

    .add-button {
        text-align: center;

        .content-button {
            margin-bottom: 5px !important;
            padding: 5px;
            position: center;
        }
    }
}
