@using Fleqx.Data.DatabaseModels
@using Microsoft.AspNet.Identity
@model Fleqx.Models.TaskFilterModel

@using (Html.BeginForm("FilterTasks", "Task", FormMethod.Post, new { id = "taskFilterForm", @class = "form filter-form task-filter center-block", autocomplete = "off" }))
{
    <div class="row">
        <div class="form-group col-xs-3">
            <label class="filter-form-label">Start Date</label>
            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control date", @Value = Model.StartDate.ToString("yyyy-MM-dd") })
        </div>
        <div class="form-group col-xs-3">
            <label class="filter-form-label">End Date</label>
            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control date", @Value = Model.EndDate.ToString("yyyy-MM-dd") })
        </div>
        <div class="form-group col-xs-3">
            <label class="filter-form-label">Task priority</label>
             @{List<SelectListItem> taskSelectList = new List<SelectListItem>();
                 taskSelectList.Add(new SelectListItem { Text = "", Value = "" });
                 taskSelectList.AddRange(ListControlHelper.TaskPriority); }
                 @Html.DropDownListFor(model => model.TaskPriority, taskSelectList, new { @class = "form-control", @Value = Model.TaskPriority })
        </div>
        <div class="form-group col-xs-3">
            <label class="filter-form-label">Created by</label>
            @{List<SelectListItem> createdSelectList = new List<SelectListItem>();
                createdSelectList.Add(new SelectListItem { Text = "", Value = "" });
                createdSelectList.AddRange(Model.AllUsers.Select(user => new SelectListItem { Text = user.UserName, Value = user.Id }));}
                @Html.DropDownListFor(model => model.CreatedUserId, createdSelectList, new { @class = "form-control" });
        </div>
        <div class="form-group col-xs-12">
            <button type="submit" form="taskFilterForm" class="standard-button center-block">Apply filter</button>
        </div>
    </div>
}
