@{
	Layout = null;
}

<div class="chat-container">
	<div class="panel panel-default">
		<div class="panel-heading">Chat</div>
		<div class="panel-body chat-panel-body">
			<div class="messages-container"></div>
		</div>
	</div>
	<div class="inputs-container">
		<input type="text" id="message" />
	</div>
</div>