@model Fleqx.Models.AccountModel

<div class="account-container">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Account Admin</h1></div>
        <div class="panel-body">
            <p>Hey</p>
        </div>
    </div>
</div>